<mat-toolbar color="primary">
  <mat-nav-list class="list-horizontal">
    <a mat-list-item routerLink="/" matTooltip="Top stories posted on Hacker News"
      aria-label="This is a front-end for reading Hacker News">
      HN
    </a>
    <a mat-list-item routerLink="/new" matTooltip="Newest stories posted on Hacker News"
      aria-label="This is a front-end for reading Hacker News">
      New
    </a>
    <a mat-list-item routerLink="/best" matTooltip="Best stories posted on Hacker News"
      aria-label="This is a front-end for reading Hacker News">
      Best
    </a>
  </mat-nav-list>
</mat-toolbar>

<taw-loading></taw-loading>
<router-outlet></router-outlet>