.sidenav-container
  height: 100%

.sidenav
  width: 200px

.sidenav .mat-toolbar
  background: inherit

.mat-toolbar.mat-primary
  top: 0
  z-index: 1

mat-nav-list
  .list-horizontal
    padding: 0
  .mat-list-item
    display: inline-block
    height: auto
    width: auto
