<form [formGroup]="storyForm" class="story-form">
    <mat-card class="news-card">
        <mat-card-header>
            <div mat-card-avatar class="news-header-image"></div>
            <mat-card-title *ngIf="storyDetails?.title">
                <a [routerLink]="['/story', id]">
                    {{ storyDetails.title }}
                </a>
            </mat-card-title>
            <mat-card-subtitle *ngIf="storyDetails?.by && storyDetails?.score">
                By: {{ storyDetails.by }} | Score: {{ storyDetails.score }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>
                    Title
                </mat-label>
                <textarea matInput formControlName="title" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8">
                </textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>
                    URL
                </mat-label>
                <textarea matInput formControlName="url" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8">
                </textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>
                    Title
                </mat-label>
                <textarea matInput formControlName="title" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8">
                </textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>
                    Submitted by
                </mat-label>
                <textarea matInput formControlName="by" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8">
                </textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>
                    Submission type
                </mat-label>
                <textarea matInput formControlName="type" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8">
                </textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date Submitted</mat-label>
                <input matInput [matDatepicker]="dateSubmitted" formControlName="dateSubmitted">
                <mat-datepicker-toggle matSuffix [for]="dateSubmitted"></mat-datepicker-toggle>
                <mat-datepicker #dateSubmitted></mat-datepicker>
              </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="goToStory(storyDetails.url)">Story</button>
            <button mat-raised-button color="accent" (click)="goToComments(storyDetails.id)">Comments</button>
        </mat-card-actions>
    </mat-card>
</form>